@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 80%;
    background: url(../images/background.jpg);
}

.container {
    background-color: white;
}


/* HEADER */

header {
    height: 120px;
    background-color: lightgray;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

.oval {
    border-radius: 50%;
    position: absolute;
    top: 10%;
    height: 102px;
    width: 80%;
    background: black;
}

<<<<<<< HEAD
=======
.upper-header {
    display: flex;
    justify-content: space-around;
    background-color: #b81515;
    color: white;
    width: 100%;
    height: 45%;
}

.lower-header {}


>>>>>>> 92557d087a137d029b8cc05c22622ad3de9ba799
/* FIN HEADER */


/* BREADCRUMBS */

.breadcrumb {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
}

.flexcrumb {
    flex-basis: 25%;
}

.breadcrumb-img {
    height: 20px;
}

.profile {
    margin: 0 5% 10% 5%;
    font-family: sans-serif;
    padding-bottom: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.breadcrumb {
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
    cursor: pointer;
}

.breadcrumb a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
    /*to match with the parent's radius*/
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
}

.breadcrumb a.active {
    background: #333;
    background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

.breadcrumb a:after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
    content: none;
}

.breadcrumb a:before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;
}

.flat a,
.flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover,
.flat a.active,
.flat a:hover:after,
.flat a.active:after {
    background: #9eeb62;
}


/* FIN BREADCRUMBS */


/* COMMON INPUTS FORM */

.inputText {
    height: 30px;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

#label {
    margin-top: 20px;
}

.clearForm {
    border-radius: 3px;
    height: 30px;
    border: 2px solid black;
    font-weight: bold;
}

.next {
    margin: 20px;
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 3px;
}

textarea {
    border: 2px solid black;
    border-radius: 3px;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.is-hidden {
    display: none !important;
}


/* FIN INPUTS COMMON FORM */


/*Input validation*/

.error {
    display: flex;
    background-color: rgba(255, 0, 0, 0.233);
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgb(119, 26, 26);
    font-size: 15px;
    margin-bottom: 10px;
    /*This should be "margin: 10px 0;"*/
    align-items: center;
}


/*SECTION ADDRESS */

#telForm {
    max-width: 5%;
    height: 36px;
}

.address {
    margin-left: 5%;
    padding: 0px 0px 170px 0px;
}


/* FIN SECTION ADDRESS */


/* PRODUCT */

select {
    background-color: #b81515;
    height: 33px;
    color: white;
    font-weight: bold;
    border-color: transparent;
    font-size: 1em;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;
}

.product {
    display: flex;
    justify-content: space-around;
    padding: 14% 0;
}

.product-left {
    width: 50%;
    display: flex;
}

.thumbnails-images-product {
    width: 23%;
    padding: 1em;
}

.thumbnails-images-product img {
    cursor: pointer;
}

.image-big-product {
    width: 90%;
    padding: 1em 1em;
}

.image-thumbnails {
    width: 100%;
}

.image-thumbnails {
    cursor: pointer;
    opacity: 0.7;
}

.image-thumbnails:hover {
    opacity: 1;
}

.image-version-game {
    opacity: 0.7;
}

.image-version-game:hover {
    opacity: 1;
}

.product-right {
    width: 50%;
    padding-left: 1em;
}

.image-game {
    width: 100%;
    max-height: 490px;
}

.game-title {
    font-size: 2em;
}

#price {
    font-size: 1.5em;
}

.active {
    opacity: 1;
}

.editions img {
    max-height: 100px;
    cursor: pointer;
    object-fit: contain;
    padding: 0em 1%;
}

.button-buy {
    background-color: #b81515;
    padding: 7px;
    width: 100px;
    animation: bn53bounce 3s infinite;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 1em 0em;
    border: none;
}

.button-header {
    background-color: #b81515;
    padding: 7px;
    width: 100px;
    animation: bn53bounce 3s infinite;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 1em 0em;
    border: none;
}

.button-header:hover {
    background-color: red;
    border-color: red;
}

.button-buy:hover {
    background-color: red;
    border-color: red;
}

#select-option:hover {
    background-color: red;
    border-color: red;
}

@keyframes bn53bounce {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1);
    }
    20% {
        transform: scale(1) rotate(-5deg);
    }
    25% {
        transform: scale(1) rotate(5deg);
    }
    30% {
        transform: scale(1) rotate(-3deg);
    }
    35% {
        transform: scale(1) rotate(2deg);
    }
    40% {
        transform: scale(1) rotate(0);
    }
}


/* FIN SECTION PRODUCT */


/*SECTION ADDRESS*/

.inputError {
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    height: 30px;
    width: 350px;
    margin: 12px 0px 12px 0px;
}

#birthday {
    height: 35px;
}

#countries {
    height: 37px;
    width: 357px;
}

#telform {
    width: 61px;
    height: 36px;
    border: collapse;
    margin-right: 5px;
}

#regular {
    width: 30px;
    height: 20px;
    margin: 20px 10px 10px 0;
}

#phone {
    border: collapse;
    width: 284px;
}


/*FIN SECTION ADDRESS*/


/* SECTION SHIPPING */

.shipping {
    display: block;
    padding: 0px 39px 158px 40px;
    margin-bottom: 50px;
}

.display-none {
    display: none;
}

.shipping-container {
    position: relative;
}

.shipping-type {
    padding: 1em 0 1em 2em;
}

.button-select-image {
    display: block;
    padding: 0.5em 2em;
}

.time-shipping {
    position: absolute;
    width: 160px;
    background-color: #b81515;
    height: 6em;
    padding: 0.5em 1em 1.5em 2em;
    opacity: 0;
    border-radius: 25%;
    color: white;
    box-shadow: 0 10px 6px -6px grey;
}

.time-shipping:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 80px;
    height: 80px;
    left: -5px;
    top: 25px;
    background-color: #b81515;
    transform: rotate(50deg);
}

.select-option-shipping {
    padding: 1em 0em;
}

.estimated-delivery {
    color: #777575;
}

.date-delivery {
    display: none;
}

.gift-message {
    padding: 1em 0em;
    display: block;
}

.gift-message-hidden {
    display: none !important;
}

.text-gift {
    margin: 1em 0em;
}

.image-icon {
    width: 15px;
    padding-left: 5px;
}

.label-gift {
    display: block;
}

input.image-add-file {
    background: url(./images-solid.svg);
    background-size: 50px 20px;
    background-repeat: no-repeat;
    background-position: 75% 5px;
    border: 1px solid red;
    cursor: pointer;
    height: 34px;
    width: 23%;
    line-height: 4px;
    font-weight: bold;
    background-color: #b81515;
    color: white;
    padding-left: 0px;
}

.buttons-form {
    float: left;
    clear: both;
}

.clearfix {
    clear: both;
}

.checkbox-message {
    border: 2px solid black;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    margin: 20px 10px 10px 0;
    vertical-align: -5px;
}

#error-shipping {
    display: flex;
    background-color: rgba(255, 0, 0, 0.233);
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgb(119, 26, 26);
    font-size: 15px;
    margin-top: 10px;
    align-items: center;
}


/* FIN SECTION SHIPPING */


/*Finish Div*/

.background-div {
    background-color: lightgrey;
    padding: 110px 80px 70px 80px;
    margin-bottom: 80px;
    /*display: none;*/
}

.div-flex {
    display: flex;
    justify-content: space-around;
}

.time-warning {
    display: none;
}

.finished-order {
    display: none;
    margin-bottom: 30px;
}

.purchase-div {
    background-color: white;
    flex-basis: 60%;
    margin-right: 50px;
    padding: 30px;
}

.order-div {
    background-color: white;
    flex-basis: 40%;
    padding: 30px;
}

<<<<<<< HEAD
.finished-order {
  display: none;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.thanks {
  width: 130%;
  color: white;
  font-size: 35px;
  margin: 20px 0;
  animation-name: thanks;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes thanks {
  0% {
    right: -150px;
  }
  15% {
    right: -100px;
  }
  30% {
    right: -50px;
  }
  45% {
    right: 0px;
  }
  60% {
    right: 50px;
  }
  75% {
    right: 100px;
  }
  90% {
    right: 150px;
  }
  100% {
    right: 200px;
  }
=======
>>>>>>> 92557d087a137d029b8cc05c22622ad3de9ba799

/* FIN FINISH DIV*/


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    font-weight: bold;
    color: white;
    position: fixed;
    width: 80%;
    bottom: 0;
}


/* FIN FOOTER */