@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    height: 100%;
}


/* HEADER */

header {
    height: 100px;
    background-color: lightgray;
    margin-bottom: 5%;
}


/* FIN HEADER */


/* BREADCRUMBS */

.breadcrumb {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
}

.flexcrumb {
    flex-basis: 25%;
}

.breadcrumb-img {
    height: 20px;
}

.profile {
    margin: 5%;
    font-family: sans-serif;
}


/* FIN BREADCRUMBS */


/* COMMON INPUTS FORM */

.inputText {
    height: 30px;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
}

#label {
    margin-top: 40px;
}

.clearForm {
    border-radius: 3px;
    height: 30px;
    border: 2px solid black;
    font-weight: bold;
}

.next {
    margin: 20px;
    background-color: black;
    border: 1px solid black;
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 3px;
}

textarea {
    border: 2px solid black;
    border-radius: 3px;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
}


/* FIN INPUTS COMMON FORM */


/*Input validation*/

#popup {
    display: flex;
    background-color: rgba(255, 0, 0, 0.233);
    height: 30px;
    width: 350px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgb(119, 26, 26);
    font-size: 15px;
    margin-top: 10px;
    align-items: center;
}


/*SECTION ADDRESS */

#telForm {
    max-width: 5%;
    height: 36px;
}

.address {
    margin-left: 5%;
    display: none;
}


/* FIN SECTION ADDRESS */


/* PRODUCT */

.product {
    display: flex;
    justify-content: space-around;
}

.product-left {
    width: 50%;
    display: flex;
}

.thumbnails-images-product {
    width: 23%;
    padding: 1em;
}

.thumbnails-images-product img {
    cursor: pointer;
}

.image-big-product {
    width: 90%;
    padding: 1em 1em;
}

.image-thumbnails {
    width: 100%;
}

.image-thumbnails {
    cursor: pointer;
    opacity: 0.7;
}

.image-thumbnails:hover {
    opacity: 1;
}

.image-version-game {
    opacity: 0.7;
}

.image-version-game:hover {
    opacity: 1;
}

.product-right {
    width: 50%;
    padding-left: 1em;
}

.image-game {
    width: 100%;
    max-height: 490px;
}

.game-title {
    font-size: 2em;
}

#price {
    font-size: 1.5em;
}

.active {
    opacity: 1;
}

.editions img {
    max-height: 100px;
    cursor: pointer;
    object-fit: contain;
    padding: 0em 1%;
}

.button-buy {
    background-color: #b81515;
    padding: 7px;
    width: 100px;
    animation: bn53bounce 3s infinite;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin: 1em 0em;
}

@keyframes bn53bounce {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1);
    }
    20% {
        transform: scale(1) rotate(-5deg);
    }
    25% {
        transform: scale(1) rotate(5deg);
    }
    30% {
        transform: scale(1) rotate(-3deg);
    }
    35% {
        transform: scale(1) rotate(2deg);
    }
    40% {
        transform: scale(1) rotate(0);
    }
}


/* FIN SECTION PRODUCT */


/* SECTION SHIPPING */

.shipping-container {
    position: relative;
}

.shipping-type {
    padding: 1em 0 1em 2em;
}

.button-select-image {
    display: block;
    padding: 0.5em 2em;
}

.time-shipping {
    position: absolute;
    width: 160px;
    background-color: #f5f5f5;
    height: 6em;
    border: 1px solid grey;
    padding: 1em;
    border-radius: 3px;
    top: 3%;
    right: 3%;
}

.select-option-shipping {
    padding: 1em 0em;
}

.estimated-delivery {
    color: #777575;
}

.date-delivery {
    display: none;
}

.gift-message {
    padding: 1em 0em;
    display: block;
}

.gift-message-hidden {
    display: none !important;
}

.text-gift {
    margin: 1em 0em;
}

.image-icon {
    width: 15px;
    padding-left: 5px;
}

.buttons-form {
    float: right;
    clear: both;
}

.clearfix {
    clear: both;
}


/* FIN SECTION SHIPPING */


/*Finish Div*/

.background-div {
    background-color: lightgrey;
    padding: 20px 80px;
}

.div-flex {
    display: flex;
    justify-content: space-around;
}

.time-warning {
    display: none;
}

.finished-order {
    display: none;
    margin-bottom: 30px;
}

.purchase-div {
    background-color: white;
    flex-basis: 60%;
    margin-right: 50px;
    padding: 30px;
}

.order-div {
    background-color: white;
    flex-basis: 40%;
    padding: 30px;
}


/* FIN FINISH DIV*/


/* FOOTER */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: lightgray;
}


/* FIN FOOTER */